*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('./img/cristina-gottardi-CSpjU6hYo_0-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

input{
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    outline: none;
    padding-left: 10px;
    font-size: 17px;
}

button{
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #003329;
    color: white;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight: 700;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.5;
}

.container{
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

img{
    height: 25px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

li:hover img{
    opacity: 1;
}

ul{
    width: 100%;
    margin-top: 30px;
  
}

li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0,0,0,0.2);
    height: 50px;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.done{
    background-color: #8fac55;
    text-decoration: line-through;
}